<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/extjs/resources/css/ext-all.css"/>
        <style type="text/css">
            div#centerPane {
                margin: 0 auto;
                text-align: center;
            }

            div#searchBox input {
                height: 40px;
                margin: 28px 0;
                font-size: 2em;
            }

            .docDisplay {
                position: relative;
                display: inline;
                padding: 5px;
            }

            .relevance {
                position: absolute;
                display: none;
                bottom: 5px;
                right: 5px;
                padding: 5px;
                height: 30px;
                width: 60px;
            }

            .relevance .overlay-left {
                float: left;
                margin-bottom: 4px;
            }

            .relevance .overlay-right {
                float: left;
                margin-left: 10px;
            }

            .relevance doc {
                cursor: hand;
                cursor: pointer;
            }

            .relevantDoc {
                position: relative;
            }

            .remove {
                position: absolute;
                display: none;
                top: 0;
                left: 0;
            }
        </style>
        <script type="text/javascript" src="static/extjs/ext-debug.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript">
            Ext.require(['*']);

            var documentStore;
            var relevanceStore;
            
            function markRelevant(id) {
                unmarkRelevance(id);
                var doc = documentStore.findRecord('id', id);
                relevanceStore.add({id: doc.data.id, resource_uri: doc.data.resource_uri, relevant: true});
            }

            function markIrrelevant(id, url) {
                unmarkRelevance(id);
                var doc = documentStore.findRecord('id', id);
                relevanceStore.add({id: doc.data.id, resource_uri: doc.data.resource_uri, relevant: false});
            }

            function unmarkRelevance(id) {
                var doc = relevanceStore.findRecord('id', id);
                if(doc) {
                    relevanceStore.remove([doc]);
                }
            }

            function onLoadCallback() {
                $('div.docDisplay').mouseenter(function() {
                    $(this).find('.relevance').show();
                });
                $('div.docDisplay').mouseleave(function() {
                    $(this).find('.relevance').hide();
                });
                $('#centerPane').find('p').replaceWith('<p style="margin: 5px auto; font-size: 1.5em">Showing results for: '+localStorage.query+'</p>');
            }

            function onRelevanceChange() {
                $('div.relevantDoc,div.irrelevantDoc').mouseenter(function() {
                    $(this).find('.remove').show();
                });
                $('div.relevantDoc,div.irrelevantDoc').mouseleave(function() {
                    $(this).find('.remove').hide();
                });
            }

            Ext.onReady(function() {

                Ext.define('Image', {
                    extend: 'Ext.data.Model',
                    fields: [
                        {name: 'id', type: 'string'},
                        {name: 'resource_uri', type: 'string'},
                        {name: 'source', type: 'string'}
                    ],
                });

                relevanceStore = new Ext.data.ArrayStore({
                    fields: ['id', 'resource_uri', 'relevant']
                });

                documentStore = new Ext.data.Store({
                    model: 'Image',
                    proxy: {
                        type: 'rest',
                        buildUrl: function(request) {
                            var query = request.params.query;
                            delete request.params.query;
                            return 'api/v1/flickr/search/' + query + '?format=json'; 
                        },
                        reader: {
                            type: 'json',
                            root: 'objects'
                        }
                    }
                });

                var searchStore = Ext.data.Store({
                    fields: ['query'],
                    data: [
                        
                    ]
                });

                var documentView = new Ext.DataView({
                    store: documentStore,
                    itemSelector: 'div.docDisplay',
                    emptyText: 'No documents to display',
                    tpl: new Ext.XTemplate(
                        '<p style="margin: 5px auto; font-size: 1.5em">Showing results for: '+localStorage.query+'</p>',
                        '<tpl for=".">',
                            '<div class="docDisplay">',
                                '<a href="{resource_uri}" target="_blank"><img src="{resource_uri}" width="200" height="200" alt="{source} document"/></a>',
                                '<div class="relevance">',
                                    '<a href="javascript:markRelevant(\'{id}\')"><img src="static/img/relevant.png" class="overlay-left relevant" width="20" height="20" alt="relevant document"/></a>',
                                    '<a href="javascript:markIrrelevant(\'{id}\')"><img src="static/img/irrelevant.png" class="overlay-right irrelevant" width="20" height="20" alt="irrelevant document"/></a>',
                                '</div>',
                            '</div>',
                        '</tpl>'
                    )
                });

                Ext.create('Ext.Viewport', {
                    layout: {
                        type: 'border',
                        padding: 5
                    },
                    defaults: {
                        split: true
                    },
                    items: [
                        {
                            region: 'north',
                            id: 'northPane',
                            height: 100,
                            items: [
                                {
                                    xtype: 'combo',
                                    id: 'searchBox',
                                    width: 400,
                                    style: 'margin: 0 auto; text-align: center;',
                                    store: searchStore,
                                    displayField: 'query',
                                    valueField: 'query',
                                    queryMode: 'local',
                                    emptyText: 'Search...',
                                    hideTrigger: true,
                                    listeners: {
                                        specialkey: function(f, e) {
                                            if(e.getKey() == e.ENTER) {
                                                var searchBox = Ext.getCmp('searchBox');
                                                localStorage.query = searchBox.getValue();
                                                documentStore.load({params: { query: localStorage.query }, callback: onLoadCallback});
                                                searchBox.setValue('');
                                            }
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            region: 'west',
                            title: 'Relevant documents',
                            width: '15%',
                            collapsible: true,
                            autoScroll: true,
                            items: {
                                xtype: 'dataview',
                                id: 'westPane', 
                                store: relevanceStore,
                                itemSelector: 'div.relevantDoc',
                                emptyText: 'No relevant documents',
                                tpl: new Ext.XTemplate(
                                    '<tpl for=".">',
                                        '<tpl if="relevant==true">',
                                            '<div class="relevantDoc">',
                                                '<img src="{resource_uri}" width="100%" height="200"/>',
                                                '<div class="remove">',
                                                    '<a href="javascript:unmarkRelevance(\'{id}\')" alt="remove"><img src="static/img/remove.png" width="100%" height="200"/></a>',
                                                '</div>',
                                            '</div>',
                                        '</tpl>',
                                    '</tpl>'
                                ),
                                listeners: {
                                    refresh: function() {
                                        onRelevanceChange();
                                    }
                                }
                            },
                        },
                        {
                            region: 'east',
                            title: 'Irrelevant documents',
                            width: '15%',
                            collapsible: true,
                            autoScroll: true,
                            items: {
                                xtype: 'dataview',
                                id: 'eastPane',
                                store: relevanceStore,
                                itemSelector: 'div.irrelevantDoc',
                                emptyText: 'No irrelevant documents',
                                tpl: new Ext.XTemplate(
                                    '<tpl for=".">',
                                        '<tpl if="relevant==false">',
                                            '<div class="irrelevantDoc">',
                                                '<img src="{resource_uri}" width="100%" height="200"/>',
                                                '<div class="remove">',
                                                    '<a href="javascript:unmarkRelevance(\'{id}\')" alt="remove"><img src="static/img/remove.png" width="100%" height="200"/></a>',
                                                '</div>',
                                            '</div>',
                                        '</tpl>',
                                    '</tpl>'
                                ),
                                listeners: {
                                    refresh: function() {
                                        onRelevanceChange();
                                    }
                                }
                            },
                        },
                        {
                            region: 'south',
                            height: 40,
                            style: 'text-align: center',
                            html: 'Copyright &copy; 2012 Matt Caldwell'
                        },
                        {
                            region: 'center',
                            id: 'centerPane',
                            frame: true,
                            autoScroll: true,
                            width: 800,
                            items: documentView,
                            listeners: {
                                afterrender: function(panel) {
                                    panel.body.on('scroll', function(scrollerObj, offsetObj) {
                                        if(scrollerObj.target.offsetHeight + scrollerObj.target.scrollTop >= scrollerObj.target.scrollHeight) {
                                            documentStore.nextPage({ params: { query: localStorage.query }, addRecords: true, callback: onLoadCallback });
                                        }
                                    });
                                }
                            }
                        }
                    ]
                });

                if(localStorage.query)
                    documentStore.load({params: { query: localStorage.query }, callback: onLoadCallback });

            });
        </script>
    </head> 
    <body></body>
</html>
